.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.btn-primary {
  height: 48px;
  width: 165px;
  box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
  background-color: #fb9c00;
  color: #ffffff;
  font-family: "Maison Neue";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}
