// elements
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.btn-primary {
  height: 48px;
  box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
  background-color: #fb9c00;
  color: #ffffff;
  font-family: "Maison Neue";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}

.btn-primary-outlined {
  height: 48px;
  box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
  background-color: #ffffff;
  color: #fb9c00;
  font-family: "Maison Neue";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}

.input-outlined {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #c3cad9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  width: 72px;
  color: #5a7184;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  transition: all ease-in-out 0.5s;
  &:focus {
    border-color: #183b56;
  }
  &::placeholder {
    padding-left: 32px;
  }
  &:-moz-placeholder {
    padding-left: 32px;
  }
  &::-moz-placeholder {
    padding-left: 32px;
  }
  &:-ms-input-placeholder {
    padding-left: 32px;
  }

  &::-ms-input-placeholder {
    padding-left: 32px;
  }
}

.badge {
  padding: 9px 16px;
  border-radius: 16px;
  background-color: #fcce81;
  color: #efa226;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.star-rating {
  display: flex;
  svg {
    width: 20px;
    height: 18px;
    polygon {
      fill: #fb9c01;
    }
  }
}
