// elements
.logo {
  height: 52px;
  max-width: 220px;
  color: #000000;
  font-family: "Miller Display";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 52px;
}

.btn {
  border: none;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.btn-warning {
  height: 48px;
  box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
  background-color: #fb9c00;
  color: #ffffff;
  font-family: "Maison Neue";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: #ffffff !important;
  }
}

.btn-outline-warning {
  height: 48px;
  box-shadow: 0 10px 25px 0 rgba(21, 37, 72, 0.1);
  background-color: #ffffff;
  color: #fb9c00;
  font-family: "Maison Neue";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  &:hover,
  &:focus,
  &:active {
    background-color: #ffffff;
    color: #fb9c00;
  }
}

.input-outlined {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #c3cad9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  width: 72px;
  color: #5a7184;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  transition: all ease-in-out 0.5s;
  &:focus {
    border-color: #183b56;
  }
  // &::placeholder {
  //   padding-left: 32px;
  // }
  // &:-moz-placeholder {
  //   padding-left: 32px;
  // }
  // &::-moz-placeholder {
  //   padding-left: 32px;
  // }
  // &:-ms-input-placeholder {
  //   padding-left: 32px;
  // }

  // &::-ms-input-placeholder {
  //   padding-left: 32px;
  // }
}

.badge {
  padding: 9px 16px;
  border-radius: 16px;
  background-color: #fcce81;
  color: #efa226;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.star-rating {
  display: flex;
  svg {
    width: 20px;
    height: 18px;
    polygon {
      fill: #fb9c01;
    }
  }
}

.btn-transform {
  transition: all ease-in-out 200ms;
  &:hover {
    transform: scale(1.1);
  }
}

.error {
  color: red;
  background: #dde1df;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  & + & {
    margin-top: 8px;
  }
}
