footer {
  padding-top: 102px;
  padding-bottom: 108px;
  background-color: #1b1b1b;

  .copyright {
    opacity: 0.5;
    color: #ffffff;
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }

  h5 {
    color: #ffffff;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
  }

  a {
    opacity: 0.5;
    color: #ffffff;
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }

  [class*="col-sm-"] {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  @include media-breakpoint-down(md) {
    text-align: center !important;
    .social-links,
    .footer-badges {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
