footer {
  padding-top: 102px;
  padding-bottom: 108px;
  background-color: #1b1b1b;

  h5,
  a {
    opacity: 0.5;
    color: #ffffff;
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }
}
