.navbar {
  padding: 20px 0;
  .logo {
    height: 52px;
    width: 220px;
    color: #000000;
    font-family: "Miller Display";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 52px;
  }
  .navbar-nav {
    .nav-item {
      display: flex;
      a {
        padding: 16px 18px;
        color: #5a7184;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        text-align: center;

        line-height: 21px;
      }
    }
  }

  button {
    padding: 12px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Maison Neue";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    svg {
      width: 11px;
      height: 11px;
      margin-top: -2px;
      margin-right: 7px;
      line-height: 1;
      path {
        fill: #ffffff;
      }
    }
  }
}
