.top-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/Banners/hero1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &--home {
    min-height: 640px;
    background-image: url("../assets/Banners/hero1.png");
    > .container {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &--admissions {
    min-height: 691px;
    background-image: url("../assets/Banners/hero2.png");
    > .container {
      margin-top: 107px;
      margin-bottom: auto;
    }
  }

  &--blog {
    margin-bottom: 50px;
    min-height: 640px;
    background-image: url("../assets/Banners/hero3.png");
    > .container {
      margin-top: auto;
      margin-bottom: auto;
      p {
        margin-bottom: 20px;
        max-width: 467px;
        color: #5a7184;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 28px;
      }
      button {
        margin-bottom: 40px;
        min-width: 308px;
      }
    }
  }

  .container {
    height: 100%;
    .text-block {
      h1 {
        margin-bottom: 40px;
        color: #183b56;
        font-family: "Miller Display";
        font-weight: 700;
        letter-spacing: 0;
        line-height: 52px;
      }
      h4 {
        margin-bottom: 45px;
        color: #5a7184;
        font-family: "DM Sans";
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
        span {
          color: #fb9c00;
        }
      }
    }
  }
}

.call-form {
  position: relative;
  max-width: 523px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 15px 50px -10px rgba(21, 37, 72, 0.25);

  > div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 16px;
    color: #183b56;
    font-family: "Miller Display";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
  }

  .btn {
    width: 100%;
    height: 56px;
    text-transform: uppercase;
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    svg {
      width: 12px;
      height: 12px;
      margin-right: 10px;
      path {
        fill: #ffffff;
      }
    }
  }

  &__input-wrapper {
    width: calc(50% - 5px);
    position: relative;
    svg {
      position: absolute;
      top: 19px;
      left: 15px;
      width: 11px;
      height: 11px;
      path {
        fill: #959ead;
      }
    }
    .input-outlined {
      padding-left: 32px;
      width: 100%;
    }
  }

  &--home,
  &--admissions {
    padding: 38px 30px;
  }

  &--listing {
    padding: 26px 30px 20px;
  }

  &--listing-footer {
    padding: 0;
    box-shadow: none;
    background-color: #fb9c00;

    .call-form__input-wrapper {
      position: relative;
      svg {
        z-index: 100;
        path {
          fill: #ffffff;
        }
      }
      .input-outlined {
        position: relative;
        border-color: transparent;
        background-color: #fcc05e;
        // background-color: #fb9c004d;
        color: #ffffff;
        &::placeholder {
          color: #ffffff;
        }
      }
    }

    .btn {
      color: #fb9c00;
      background-color: #ffffff;
      svg {
        path {
          fill: #fb9c00;
        }
      }
    }
  }
  @media (max-width: 500px) {
    > div {
      flex-direction: column;
      .call-form__input-wrapper:first-child {
        margin-bottom: 20px;
      }
      .call-form__input-wrapper {
        width: 100%;
      }
    }
  }
}

.social-links {
  margin-bottom: 12px;
  display: flex;
  width: max-content;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    // background-color: rgba($color: #1b1b1b, $alpha: 0.2);
    background-color: #484848;
    border-radius: 50%;
    svg {
      height: 18px;
      fill: #ffffff;
      path {
        fill: #ffffff;
      }
    }
  }
  &__item + &__item {
    margin-left: 8px;
  }
}

.footer-badges {
  display: flex;
  width: max-content;
  &__item {
    height: 47px;
    width: 47px;
  }
  &__item + &__item {
    margin-left: 25px;
  }
}

.center-map-card {
  display: flex;
  flex-direction: column;
  min-height: 417px;
  height: 100%;
  max-width: 350px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.02);
  &__map {
    min-height: 180px;
    border-radius: 16px 16px 0 0;
    display: flex;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__summary {
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: left !important;

    h4 {
      margin-bottom: 20px;
    }
    p {
      max-height: 90px;
      color: #5a7184;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 28px;
      overflow: hidden;
    }
    a {
      margin-top: auto;
      width: fit-content;
      color: #fb9c00;
      text-transform: uppercase;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      svg {
        height: 10px;
      }
    }
  }
}

.blog-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 352px;
  height: 100%;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);

  &__cover {
    border-radius: 8px 8px 0 0;
    img {
      width: 100%;
      min-height: 230px;
      object-fit: cover;
      object-position: center;
      border-radius: 8px 8px 0 0;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left !important;
    flex-grow: 1;

    h6 {
      margin-bottom: 28px;
      color: #5a7184;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 20px;

      span {
        color: #fb9c00;
        font-family: "DM Sans";
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 20px;
      }
    }

    h4 {
      color: #183b56;
      font-family: "DM Sans";
      font-weight: 700;
      letter-spacing: 0;
      line-height: 32px;
    }

    p {
      margin-top: auto;
      max-height: 56px;
      overflow: hidden;
      color: #5a7184;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 28px;
    }

    a {
      width: fit-content;
      color: #fb9c00;
      text-transform: uppercase;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      svg {
        height: 10px;
      }
    }
  }
}

// Homepage centers carousel
.slick-slider {
  .slick-list {
    padding: 50px 0;
    .slick-track {
      display: flex;
      align-items: stretch;
      .slick-slide {
        display: flex;
        height: auto;
        margin: 0 12px;
        justify-content: center;
      }
    }
  }

  .slick-arrow {
    background-color: #fb9c00;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      fill: #ffffff;
    }
    &:hover {
      background-color: #fcce81;
    }

    &.prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -65px;
      svg {
        transform: rotateY(180deg);
      }
    }

    &.next {
      position: absolute;
      top: 50%;
      right: -65px;
      transform: translateY(-50%);
    }
  }
}

.footer-banner {
  background-color: #fb9c00;
  background-size: cover;
  .container {
    > div {
      display: flex;
    }
  }

  h2 {
    margin-bottom: 0;
    max-width: 694px;
    color: #ffffff;
    font-family: "Miller Display";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
  }

  p {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }

  .btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 243px;
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    box-shadow: none;

    svg {
      height: 11px;
      width: 11px;
      margin-right: 7px;
      path {
        fill: #fb9c00 !important;
      }
    }
  }

  &--home {
    padding: 40px 0;
    background-image: url("/Images/cta1.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--listing {
    padding: 90px 0;
    // min-height: 441px;
    background-image: url("/Images/cta2.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--blog {
    padding: 40px 0;
    background-image: url("/Images/cta1.png");
    background-repeat: no-repeat;
    background-position: center;
    .btn {
      height: 56px;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }

  @include media-breakpoint-down(sm) {
    .container {
      > div {
        flex-direction: column;
      }
    }
    h2,
    p {
      text-align: center;
    }
    .btn {
      margin: 20px auto;
    }
  }
}

.listing-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5eaf4;
  padding: 21px;

  h5 {
    color: #3a586e;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
  }

  h3 {
    color: #183b56;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 52px;
  }

  .btn {
    margin-top: 30px;
    min-width: 86px;
    border-radius: 5px;
  }

  &__summary {
    display: flex;
    // > div:not(:last-child) {
    //   margin-right: 32px;
    // }

    > div + div {
      margin-left: 32px;
    }

    > div {
      color: #3a586e;
      font-family: "DM Sans";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 28px;
      span {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.states {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
  > div {
    width: 12%;
    padding: 12px 0;
    color: #5a7184;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    height: 650px;
    > div {
      width: 25%;
    }
  }
  @include media-breakpoint-down(sm) {
    height: 850px;
    > div {
      width: 33.3%;
    }
  }
  @include media-breakpoint-down(xs) {
    height: 1250px;
    > div {
      width: 50%;
    }
  }
}
