.admissions-main {
  padding: 40px 0 100px;
  h3 {
    margin-bottom: 16px;
    color: #183b56;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 52px;
  }
  p {
    margin-bottom: 50px;
    max-width: 710px;
    color: #5a7184;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.08px;
    line-height: 36px;
  }
  svg {
    margin-top: 50px;
    margin-left: 20px;
    height: 224px;
    width: 224px;
  }
}
