// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf otf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// DM Sans
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-Regular",
  400,
  normal,
  ttf
);
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-Italic",
  400,
  italic,
  ttf
);
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-Medium",
  500,
  normal,
  ttf
);
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-MediumItalic",
  500,
  italic,
  ttf
);
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-Bold",
  700,
  normal,
  ttf
);
@include font-face(
  "DM Sans",
  "../assets/Fonts/DMSans/DMSans-BoldItalic",
  700,
  italic,
  ttf
);

// Open Sans
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-Regular",
  400,
  normal,
  ttf
);
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-BoldItalic",
  400,
  italic,
  ttf
);
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-SemiBold",
  600,
  normal,
  ttf
);
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-SemiBoldItalic",
  600,
  italic,
  ttf
);
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-Bold",
  700,
  normal,
  ttf
);
@include font-face(
  "Open Sans",
  "../assets/Fonts/OpenSans/OpenSans-BoldItalic",
  700,
  italic,
  ttf
);

// Miller Display Regular
@include font-face(
  "Miller Display",
  "../assets/Fonts/MillerDisplay/MillerDisplay-Regular",
  400,
  normal,
  otf
);
@include font-face(
  "Miller Display",
  "../assets/Fonts/MillerDisplay/MillerDisplay-Semibold",
  600,
  normal,
  ttf
);
@include font-face(
  "Miller Display",
  "../assets/Fonts/MillerDisplay/MillerDisplay-Bold",
  700,
  normal,
  ttf
);

// Maison Neue
@include font-face(
  "Maison Neue",
  "../assets/Fonts/MaisonNeue/MaisonNeue-Bold",
  700,
  normal,
  otf
);

@include font-face(
  "Maison Neue",
  "../assets/Fonts/MaisonNeue/MaisonNeue-BoldItalic",
  700,
  italic,
  otf
);

// HKGrotesk
@include font-face(
  "HK Grotesk",
  "../assets/Fonts/HKGrotesk/HKGrotesk-Bold",
  700,
  normal,
  otf
);
