body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "MillerDisplay";
  color: #183b56;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

// font-size

.text-2xl {
  font-size: 64px;
}

.text-xl {
  font-size: 64px;
}

.text-sm {
  font-size: 12px;
}

.text-xs {
  font-size: 10px;
}

.text-xxs {
  font-size: 9px;
}

p {
  margin-top: 0;
  font-size: 16px;
  font-family: "Roboto-Light", sans-serif;
  color: $color-darkblue;
}

.text-xxl {
  font-size: 64px !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-sm {
  font-size: 14px !important;
}

.text-xs {
  font-size: 12px !important;
}

.text-xxs {
  font-size: 10px !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
