$color-darkblue: #183b56;
$color-blue: #5a7184;
$color-lightblue: #2196f3;

$color-green: #36b37e;

$yellow: #fb9c00;
$color-yellow-dark: #fb9c00;
$color-yellow: #efa226;
$color-yellow-light: #fcce81;
$color-yellow-lighter: #fef0d8;

$color-gray: #6a6f85;
$color-lightgray: #a4abb8;

$color-text-dark: #1b1b1b;
$color-text: #262626;
